name: Android CI
on: [ pull_request ]

jobs:
  Build-Test:
    runs-on: macOS-latest
    strategy:
      matrix:
        api: [ 21, 28 ]
    steps:
      - uses: actions/checkout@v2.1.1
      - name: set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Debug keystore
        run: keytool -genkey -v -keystore app/k9mail/debug.keystore -storepass android -alias androiddebugkey -keypass android -keyalg RSA -keysize 2048 -validity 10000 -dname "C=US, O=Android, CN=Android Debug"
      - name: Build with Gradle
        run: ./gradlew assembleDebug testDebugUnitTest
      - name: Android monkeyrunner ${{ matrix.api }}
        uses: ReactiveCircus/android-emulator-runner@v2.19.0
        with:
          api-level: ${{ matrix.api }}
          disable-animations: true
          script: ./gradlew installDebug && adb shell monkey -p com.fsck.k9.debug -v 200
  ktlintCheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Build with Gradle
        run: ./gradlew ktlintCheck
